* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #000;
}

.App {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  text-align: center;

  &__title {
    text-transform: uppercase;
  }

  &__form {
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin: 0 auto 20px;

    input {
      width: 100%;
      margin: 0 10px 0 auto;
      padding: 5px 10px;
      background: #000;
      border: 1px solid #fff;
      border-radius: 3px;
      color: #fff;

      &:focus {
        outline: none;
      }
    }
  }

  &__items {
  }
  &__btn {
    width: 100%;
    text-transform: uppercase;
    padding: 5px 0;
    cursor: pointer;
    letter-spacing: .5px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    margin: 10px auto 0;
    transition: all .3s linear;
    &:hover {
      background: #000;
      color: #fff;
    }

    &-search {
      margin: 0;
      max-width: 100px;
    }
    &-more {
      background: red;
      border-color: darkred;
      color: #fff;
    }
  }

  &__title,
  &__item {
    margin: 10px auto 20px;
    color: #fff;

    h3 {
      a {
        text-decoration: none;
        color: #fff;
      }
    }

    .item {
      &__header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        h3 {
          text-align: left;
        }
        span {
          text-align: end;
        }
      }

      &__body {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }
  }
}